---
export interface Props {
  isTopPage: boolean;
}
const { isTopPage } = Astro.props;

const cmnPath = `/assets/img/common/`;
---

<header id="header" class="cmpHeader">
  {
    isTopPage ? (
      <h1 class="gHeader__logo">
        <a href="/" class="cmpHeader__logo" rel="prefetch">
          Hogehoge company
        </a>
      </h1>
    ) : (
      <p class="gHeader__logo">
        <a href="/" class="cmpHeader__logo" rel="prefetch">
          Hogehoge company
        </a>
      </p>
    )
  }
</header>

<style lang="scss">
  @use "sass:math";

  .cmpHeader {
    $_: ".cmpHeader";

    width: 100%;
    padding: 20px 50px;
    background: #ddd;
  }
</style>
