---
const cmnPath = `/assets/img/common/`;
---

<header class="gHeader">
  <a href="/" class="gHeader__logo" rel="prefetch">Hogehoge company</a>
</header>

<style lang="scss">
  @use "sass:math";

  .gHeader {
    $_: ".gHeader";

    width: 100%;
    padding: 20px 50px;
    background: #ddd;
  }
</style>
