---
import MyIslandBreadcrumbs from "@/components/pages/under/under/MyIslandBreadcrumbs.astro";
import MyIslandDetail from "@/components/pages/under/under/MyIslandDetail.astro";
import MyIslandNav from "@/components/pages/under/under/MyIslandNav.astro";
import MyIslandTitlePage from "@/components/pages/under/under/MyIslandTitlePage.astro";
---

<MyIslandBreadcrumbs />
<MyIslandTitlePage />

<div class="cmpUnderWrapper">
  <div class="container">
    <MyIslandNav />
    <MyIslandDetail />
  </div>
</div>
