---
import SampleTitle from "@/components/elements/title/SampleTitle.astro";
import { siteData } from "@/layouts/common/Variables.astro";
const pageId = "under";
const cmnPath = `${siteData.gRootPath}assets/img/common/`;
const imgPath = `${siteData.gRootPath}assets/img/${pageId}/`;
---

<section id="section01" class="gSection">
  <SampleTitle title="section01" />
  <p class="txt01">section01テキスト</p>
</section>
<section id="section02" class="gSection">
  <SampleTitle title="section02" />
  <p class="txt01">section02テキスト</p>
</section>

<style lang="scss">
  @use "sass:math";

  $_id: under;
  $_imgPath: "/img/#{$_id}/index/";

  .txt01 {
    font-weight: 400;
    line-height: math.div(30, 18);
    letter-spacing: normal;

    @include fz(18);

    @include tabletP {
      @include fz(14);
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
</style>
