---
import MyIslandBreadcrumbs from "src/components/pages/under/index/MyIslandBreadcrumbs.astro";
import MyIslandDetail from "src/components/pages/under/index/MyIslandDetail.astro";
import MyIslandNav from "src/components/pages/under/index/MyIslandNav.astro";
import MyIslandTitlePage from "src/components/pages/under/index/MyIslandTitlePage.astro";
---

<div>
  <MyIslandBreadcrumbs />
  <MyIslandTitlePage />

  <div class="cmpUnderWrapper">
    <div class="container">
      <MyIslandNav />
      <MyIslandDetail />
    </div>
  </div>
</div>
