---
const cmnPath = `/assets/img/common/`;
---

<footer class="gFooter">
  <a href="/" class="gFooter__logo" rel="prefetch">Hogehoge company</a>
</footer>

<style lang="scss">
  @use "sass:math";

  .gFooter {
    $_: ".gFooter";

    width: 100%;
    padding: 20px 50px;
    background: #ddd;
  }
</style>
